<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Gestao</title>

    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/gestao.css') }}/>
</head>
<body>

    <div class="container">
        <div class="titulos">
            <div class="dia-semana">Seg</div>
            <div class="dia-semana">Ter</div>
            <div class="dia-semana">Qua</div>
            <div class="dia-semana">Qui</div>
            <div class="dia-semana">Sex</div>
            <div class="dia-semana">Sab</div>
            <div class="dia-semana">Dom</div>
        </div>
        <div class="row-semana">
            <div class="data-semana">
                <p class="data">1</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">2</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">3</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">4</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">5</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">6</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">7</p>
                <p class="tasks">2</p>
            </div>
        </div>
        <div class="row-semana">
            <div class="data-semana">
                <p class="data">8</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">9</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">10</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">11</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">12</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">13</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">14</p>
                <p class="tasks">2</p>
            </div>
        </div>
        <div class="row-semana">
            <div class="data-semana">
                <p class="data">15</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">16</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">17</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">18</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">19</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">20</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">21</p>
                <p class="tasks">2</p>
            </div>
        </div>
        <div class="row-semana">
            <div class="data-semana">
                <p class="data">22</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">23</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">24</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">25</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">26</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">27</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">28</p>
                <p class="tasks">2</p>
            </div>
        </div>
        <div class="row-semana">
            <div class="data-semana">
                <p class="data">29</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">30</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">31</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">1</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">2</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">3</p>
                <p class="tasks">2</p>
            </div>
            <div class="data-semana">
                <p class="data">4</p>
                <p class="tasks">2</p>
            </div>
        </div>
    </div>
    
</body>
</html>